rsconnect
tests
outputs
information
data

# These files are not included in .gitignore because they are omitted for the .gitignore file inside renv folder
renv/library
renv/staging
renv/.gitignore

.git
.gitignore
.github
README.md

Dockerfile
.dockerignore
.Renviron
.Rproj.user

.DS_Store
.RData
.Rhistory
