data
rsconnect
tests
outputs
information

# These files are not included in .gitignore because they are omitted for the .gitignore file inside renv folder
renv/library
renv/staging
renv/.gitignore

.git
.gitignore
README.md

Dockerfile
.dockerignore
